[2014-04-09 14:58] guilhem opened #2 "Adapt application_nodejs to new install way"
We have to work with @conradev to adapt https://github.com/conradev/application_nodejs

[2014-04-09 15:01] guilhem opened #3 "npm LWRP"
Must manage individual packages and packages.json

[2014-04-10 13:06] #3 closed, assigned to BarthV

[2014-04-10 13:07] BarthV opened #5 "Update documentation"
New todo ;)

[2014-04-10 13:07] BarthV opened #6 "Update integration test"
NPM lwrp needs to be tested with TK.

[2014-04-10 13:11] #6 closed, assigned to nobody

[2014-04-10 13:49] guilhem opened #9 "Put this on community site"
@mdxp we are quite proud of our work on this cookbook.

It lack documentation for the moment, but can be done quickly.

Can you review this cookbook and put me as collaborator on http://community.opscode.com/cookbooks/nodejs ?

Thanks

[2014-04-14 10:34] #5 closed, assigned to nobody

[2014-04-16 09:40] matyunin opened #10 "Chef::Exceptions::Exec: package[npm]"
Simple recipe:

[code]

And Chef crashes

[code]

[2014-04-16 10:57] #10 closed, assigned to nobody

[2014-04-16 16:21] matyunin opened #11 "Chef version"
May be its necessary to specify supported Chef version (`10.x`) in README.md? Because this cookbook fails on Chef 11.

[Chef 11 breaking changes](http://docs.opscode.com/breaking_changes_chef_11.html)

[2014-04-17 07:52] #11 closed, assigned to nobody

[2014-04-23 18:44] kevinmeredith opened #12 "Using `nodejs_npm` from Another Cookbook?"
Hi -

Using my_cookbook, I'd like to use redguide/nodejs in order to download npm packages.

Here's what I tried:

**Berksfile**
`cookbook 'nodejs', git: 'https://github.com/redguide/nodejs.git'`

**cookbooks/my_cookbook/recipes/default.rb**

[code]

**cookbooks/my_cookbook/metadata.rb**
`depends 'nodejs::npm'`

How can I properly use your cookbook for installing npm packages?

[2014-04-23 21:33] #12 closed, assigned to nobody

[2014-05-10 08:42] cyrusdavid opened #15 "add --production"
By default, `npm install` will install all modules listed as dependencies. With the `--production` flag, npm will not install modules listed in `devDependencies`.

@guilhem

[2014-05-12 12:57] #15 closed, assigned to nobody

[2014-05-21 21:42] MrMMorris opened #18 "2.0.0 release"
Sorry to create an issue for this, but when do you expect 2.0.0 to be available?

Thanks!

[2014-05-22 17:33] #18 closed, assigned to nobody

[2014-07-28 16:00] marcoamorales opened #23 "Can't install key from keyserver when port 11371 is blocked."
Hello,

When installing nodejs from packege and the server is behind a firewall where port 11371, the recipe will fail to install the key.

This can be fixed if the --keyserver option gets the protocol and we set port 80, like this:

`apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv C7917B12`

[2014-07-28 16:53] #23 closed, assigned to nobody

[2014-07-31 15:54] jmreicha opened #24 "404 when attempting to install node via binary"
I am attempting to install from binary, specifying the version and getting the following error when converging in chef:

[code]

On a related note, is there a way to specify which version of NPM gets installed by hand with the binary/source method?

[2014-08-04 18:17] #24 closed, assigned to nobody

[2014-08-04 18:18] jmreicha opened #28 "Chef Supermarket cookbook outdated"
The cookbook on the Chef Supermarket is confusing, it still points to the old nodejs repo but still lists the 2.0.0 version.  Any way to get that to point to this one instead?

[2014-08-04 20:02] jmreicha opened #29 "Install npm_from_source failing with custom version"
Found a new issue.  This one has to do with customizing the version of npm to install.  Here are the actions I am taking:

[code]

And here is the chef-client output that is failing.  I will investigate more when I have a chance but just wanted to make sure it's not something silly that I am missing.

[code]

[2014-08-20 09:14] #29 closed, assigned to nobody

[2014-08-20 09:14] #28 closed, assigned to nobody

[2014-08-20 09:14] #9 closed, assigned to mdxp

[2014-08-21 11:08] BarthV opened #34 "Release 2.1.0"
PR count is too damn low  :sweat_smile: .

Maybe it's time to release next version.
We'll have to check if quality/style/integration tests are enough before that.

[2014-08-21 14:27] #34 closed, assigned to m9

[2014-08-25 17:25] SebastienElet opened #35 "Error on debian 7.6"
Hello,

I have the fallowing error on debian 7.6 / Vbox / Vagrant on the first run :

[code]

The problem is :

[code]

The attribute `node['lsb']['codename']` is empty :/

[2014-08-25 21:38] #35 closed, assigned to nobody

[2014-09-04 06:12] gimler opened #36 "Suse didn't work"
I get since yesterday a error message.

Env:
- Suse 11 SP3

Error:
  ERROR: There are no nodejs packages for this platform; please use the source or binary method to install node

metadata.rb

[code]

Cheffile

[code]

[code]

I try several ways every time same error:

[code]

[code]

i also try to set the install_method in my attributes/default.rb

[code]

[code]

Suse has no package for nodejs.

[2014-09-16 13:36] mansona opened #37 "Change the user that nodejs_npm runs under?"
We're installing pm2 using nodejs_npm and it's complaining about installing it as a root user

[code]

is there a way to change the user that is actually running the npm install using this lwrp?

[2014-09-17 17:12] billyoung opened #39 "nodejs_npm with json is not idempotent"
Running into an issue where using the nodejs_npm lwrp with a json (packages.json) file will run 'npm install' on every converge.

[code]

it appears that the LWRP only checks the package/version/path of individual node packages, as opposed to the "name" and "version" of the json project being installed and whether or not its dependencies have been satisfied.

[2014-09-18 17:41] rhass-r7 opened #41 "Add idempotent LWRP for 'npm link'"
It would be nice to have support for 'npm link' to manage linking a given version of an application to a specific location on disk. Additionally, adding this as a 'link' attribute to the existing nodejs_npm LWRP would be extremely useful.

[2014-09-30 00:35] kevinmeredith opened #43 "How to Specify URLs for Installing Node, NPM, and NPM libs?"
Could you please tell me how to:

1 specify a URL for installing node
--> Example: ```node['nodejs']['node']['url'] = '....'
2. specify a URL for installing npm
--> Example: ```node['nodejs']['npm']['url'] = '....'
3. specify a URL for installing a particular npm library
--> I presume that I would specify this command within my actual cookbook's recipe, which uses your **nodejs** resource
I read t

[2014-10-24 13:59] imdevin567 opened #44 "NPM install doesn't run if package is already installed"
The install action is skipped due to the "not_if" clause in the provider. This makes it very difficult (impossible?) to upgrade packages just by using the install action, even with the --force option. The current workaround for me is to uninstall the package (which is skipped if it isn't installed) then install it.

Should we just remove the not_if installed clause? Or should there be a :force_ins

[2014-10-27 16:02] jslusher opened #45 "nodejs::repo recipe timing out to keyserver for ubuntu"
I've been trying to work around this issue, but since the keyserver is hard-coded to 'keyserver.ubuntu.com' there isn't much else I can manipulate. I get the following when I try installing the statsd cookbook, which has a dependency on the nodejs::repo recipe:

[code]

[2014-10-27 23:07] #45 closed, assigned to nobody

[2014-11-08 19:18] killmenot opened #47 "Problem with installing nodejs on Centos 6.4"
Hi,

Got a problem when trying to install my vagrant box (previously worked fine) on clean system

Host: Mac OS X 10.10
Guest: Centos 6.4
Cookbooks: nodejs only

Vagrant up log here:
http://pastebin.com/T6sNssYA

The issue is:
"Error: Cannot retrieve metalink for repository: epel. Please verify its path and try again"
"[Errno 14] problem making ssl connection"

Used this article:
http://unix.stack

[2014-11-08 19:33] #47 closed, assigned to nobody

[2014-12-09 05:30] tas50 opened #48 "Changelog"
Any chance the changelog can get updated for the current 2.2 release up on the community site?

Thanks,
Tim

[2014-12-22 12:36] jeppenejsum opened #49 "Add support for Windows"

[2014-12-23 16:40] jfbibeau opened #50 "Check to see if package installed should take into account user"
I ran into a funny problem where npm always tried to install the package. After a bit of troubleshooting, I found out it was because the npm list command didn't run as the same user as the npm install command. This breaks when you have a prefix set.

For example, if I run "npm install -global <package>" as the vagrant user, and my npmrc contains a prefix of ~/npm, it'll put the package there.

How

[2015-01-12 04:38] mmahalwy opened #52 "How to do `npm install` with package.json present"

[2015-01-14 17:16] andre1810 opened #54 "CentOS 7.0 node/npm are not available under root"
After installing via `recipe[nodejs::nodejs_from_binary]` node and npm are not available under root.

[2015-01-14 17:50] guilhem commented on #54
log?

[2015-01-15 11:12] andre1810 commented on #54
Runlist:
[code]

Attributes:
[code]

Log:
[code]

[2015-01-16 17:29] smeinel opened #55 "nodejs::nodejs_from_binary and nodejs_npm interaction unexpected and undesirable behavior"
Hi, I encountered a strange side effect when using the `nodejs::nodejs_from_binary` recipe and then later using the `nodejs_npm` LWRP. After first invocation and completion of `nodejs_npm`, the `nodejs::nodejs_from_package` recipe gets called implicitly.

Here is a gist of what happens during my converge:
https://gist.github.com/smeinel/df8c0cdfe2373d532514

TL;DR version:

* `nodejs::nodejs_from_

[2015-02-04 17:14] err0 opened #56 "npm install package.json dependencies of project?"
If I am installing a project that has it's own package.json file what is the syntax for that?  what is the equivalent of running "npm install" from the project root with nodejs_npm?

[2015-02-04 17:28] guilhem commented on #56
@err0 good question :)
can you past the command you want to exec?

There is an Array `option` where you can put what you want.

[2015-02-04 17:48] err0 commented on #56
@guilhem yes, but in the nodejs_npm code there is a constraint that package be true.

if I were doing it by hand I would do:
[code]
in package.json there is a name attribute so I ended up using that and it worked just fine.

my project is named dashboard in the packages.json file so this is what I did (and worked):
[code]
in this case what I had tried first before looking in to the source was:
[co

[2015-02-04 17:48] #56 closed

[2015-02-25 18:57] andre1810 commented on #54
Fixed by configuring sudo secure_path

[2015-02-25 18:57] #54 closed

[2015-02-25 19:00] andre1810 commented on #44
+1

I´ve got clients with npm 1.4 installed. There is no upgrade even if I put version 2.1.18 in my config to install from source.

[2015-02-25 20:55] guilhem commented on #54
Hi @andre1810
Can you give us more details about your fix? :)

[2015-02-26 08:57] andre1810 commented on #54
I set `Defaults      secure_path = /sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin`in /etc/sudoers file.

[2015-02-26 12:18] mansona opened #60 "Support io.js?"
Does this cookbook support io.js? https://iojs.org/en/index.html

If so is there any documentation on how to install io.js?

[2015-02-26 15:48] guilhem commented on #60
hi @mansona
There is a PR for this ;) #59

[2015-03-01 12:41] mansona commented on #60
Perfect thanks! I'll close this now and follow that PR

[2015-03-01 12:41] #60 closed

[2015-03-05 02:27] rleibman opened #61 "Upgrade to chef 12 produces checksum error"
My recipe has:

node.set['nodejs']['install_method'] = 'source'
node.set['nodejs']['version'] = '0.10.33'

include_recipe "nodejs"
include_recipe "nodejs::npm"

When I run this I get:
- ark[nodejs-source] action install_with_make
  - directory[/usr/local/nodejs-source-0.10.33] action create (up to date)
  - remote_file[/var/chef/cache/nodejs-source-0.10.33.tar.gz] action create

[code]

[2015-03-05 23:25] guilhem commented on #61
Hi @rleibman
seems to be a bug in chef 12 https://github.com/chef/chef/issues/2689 :/

[2015-03-05 23:28] guilhem commented on #61
oh no... this is worst than expected: https://github.com/chef/chef/issues/2681

[2015-03-08 03:56] igor9silva commented on #54
It's not adding to the PATH variable, due to this **wrong** skip
```ruby_block[adding '/usr/local/nodejs-binary-0.10.35/bin' to chef-client ENV['PATH']] action run (skipped due to only_if)```

I can't figure out how to correct it.

Do you have any idea @mdxp @guilhem?

[2015-03-08 06:44] igor9silva commented on #54
I've made some more tests and it seems to only don't alter $PATH to *root* user.

So, not a real problem.

[2015-03-19 17:07] endorama opened #63 "Cannot install npm modules"
Hello! I've starting using this cookbook but I'm facing a problem that I wasn't able to overcome.

I'm using a vagrant machine ( box is ubuntu/trusty64 ). Everything works except for npm module installation.

This is the excerpt from mi node.json file ( loaded by chef-solo ):
[code]

What am I doing wrong? I want to install sails and grunt-cli module globally.

Thanks for your help

[2015-03-20 07:54] sheldoan commented on #61
+1

[2015-03-20 17:28] cmluciano commented on #44
I believe I am hitting this issue also. I have a fork that I point npm to of a package. The package is correctly installed via my fork and things are fine.

Now when my code has been merged into master I can eliminate the source line in my recipe and would expect that the next chef run would update my npm module. Instead I have the original fork still.

I will try to dig in and figure out if somet

[2015-03-20 17:42] cmluciano commented on #44
I believe for me this is the problem https://github.com/redguide/nodejs/blob/master/libraries%2Fnodejs_helper.rb#L33-37. So if I don't specify the version, it will still fill version so this will evaluate to true every time.

[2015-03-30 13:15] #43 closed

[2015-03-31 16:00] aiman-alsari opened #66 "2.3.0 Fails on installation of npm"
Hi,

I'm getting the following after upgrading to 2.3.0. Reverting back to 2.2.0 corrects the issue.
I'm including the following recipes, and not overriding any attributes.
[code]

chef-client output:
[code]

[2015-03-31 21:00] pelletiermaxime commented on #35
Just a note to help if anyone else has this problem:
The lsb attributes are filled only if you have the "lsb-release" package installed.
IMO the distribution name should be parsed manually, like chef-sugar (https://github.com/sethvargo/chef-sugar/blob/master/lib/chef/sugar/platform.rb) does, but I understand wanting to just use something filled by ohai.

[2015-03-31 21:44] pelletiermaxime opened #67 "Broken nodejs::npm_from_source in 2.3"
Hi, juste updated to 2.3 and the install of npm from source is broken when it does the make install:
[code]

I fixed it for now by installing 'nodejs-legacy'.

I don't know if it's worth it's own bug report, but 'ark' is idempotent on it's source, so because the source were already downloaded, running chef didn't reinstall properly npm. Maybe you could add something like this ? :
[code]

Thanks.

[2015-04-01 00:55] he9lin commented on #66
I got it to work by include proper attribute file in `attributes/packages.rb` here: https://github.com/he9lin/nodejs/commit/e1ba0472c04936b3a3011688aa2baf62985aab9b  hope this helps

[2015-04-01 16:15] guilhem commented on #66
@he9lin yeah you are right. Can you do a PR please?
I will release a bugfix version

[2015-04-01 16:29] guilhem commented on #67
Hi @pelletiermaxime, you can still pin cookbook to '~> 2.2.0' :)

I will check this problem

[2015-04-01 16:30] guilhem commented on #66
@he9lin your commit is merged and release in `2.3.2`. thanks :)

[2015-04-01 16:30] #66 closed

[2015-04-01 16:55] he9lin commented on #66
cool :+1:

[2015-04-01 17:03] BarthV commented on #67
Hi @pelletiermaxime & thanks for this report.

Sadly, I'm not able to reproduce your ```make install``` error.
I'm building node from source with bundled kitchen-test, and it's fully working either for node 0.10.26 and 0.12.2.

Are you using a custom wrapper around nodejs cookbook ?
Can you give us more details about this error and your recipes ?

[2015-04-01 19:06] pelletiermaxime commented on #67
I'm testing with a kitchen-docker setup on a Debian Wheezy image. My cookbook is simply this :

[code]

[2015-04-01 21:59] BarthV commented on #63
Hi @endorama ,

First ```node['nodejs']['npm_packages']``` is currently only used in ```nodejs::default``` recipe.
If you only specify ```nodejs::npm``` in your run list, you'll have to call ```nodejs_npm``` LWRP by your own.

Then you point a second issue : ```nodejs::npm``` is doing nothing if you select embedded install method (which is default behaviour). I'll push an update for this later. We

[2015-04-01 22:54] mreeves1 commented on #66
:+1: nice @he9lin and thanks for the quick update @guilhem!

[2015-04-02 07:36] BarthV commented on #67
@guilhem :

[code]

[2015-04-02 11:11] #67 closed

[2015-04-02 11:16] BarthV commented on #63
second point fixed by #68 & #69

[2015-04-02 11:47] BarthV commented on #55
Hi @smeinel ,

This is fixed by #70

attributes (binary is in comment):
[code]

recipe :
[code]

All is OK now :)

[2015-04-02 12:19] BarthV commented on #52
hi @mmahalwy ,

You can just use ```path``` LWRP attribute. It changes pwd of the npm install command.
https://github.com/redguide/nodejs/blob/master/resources/npm.rb#L27

It is true that the readme is not very precise on this point.

[2015-04-02 12:22] BarthV commented on #37
I'll try to find whats wrong here.
But user / group attributes should do the work ...
https://github.com/redguide/nodejs/blob/master/providers/npm.rb#L9-L11

[2015-04-02 14:35] pelletiermaxime commented on #67
Thanks!

[2015-04-03 05:28] smeinel commented on #55
That's great news! I'll try 2.4.0 next week and give it a try! Thanks!

[2015-04-03 13:52] endorama commented on #63
Thanks for the clarification!

Could you please confirm that this node.json should work as expected?

[code]

[2015-04-03 20:03] BarthV commented on #63
Yes, this should be good with this conf

[2015-04-07 08:51] triccardi-systran commented on #48
It would be most useful, as it's displayed directly on the Chef Supermarket.

[2015-04-07 09:21] guilhem commented on #48
@triccardi-systran humm I wasn't aware of this feature ^^
We really have to complete this, you're right... Next version must have this as mandatory!
My bad for previous release without it...

[2015-04-07 10:19] endorama commented on #63
It works! :) Thanks for your help, closing.

[2015-04-07 10:19] #63 closed

[2015-04-10 14:43] cmluciano commented on #44
I think I was actually running into a different problem which I fixed with #77

[2015-04-10 17:01] endorama opened #78 "Cannot install sailsjs on Vagrant with node 0.12.2 and npm 2.7.4"
When trying to install sailsjs on a vagrant machine provisioned with chef-solo the process fails with this exception:

[code]

node -v: 0.12.2
npm -v: 2.7.4

Installing from command line ( ssh-ed in the vagrant machine ) run successfully:
[code]

node.json
[code]

Any hint on how to solve this? Same node.json with node 0.10.38 works fine.

[2015-04-11 19:40] BarthV commented on #78
I need to check it further, but it looks like https://github.com/balderdashy/sails/issues/2826.

Please login to the current machine you are trying to converge, and run a simple ```npm install sails``` to check if your error is the upper one.

[2015-04-11 21:37] #48 closed

[2015-04-13 07:55] triccardi-systran commented on #48
Thanks @guilhem !

[2015-04-13 13:10] endorama commented on #78
Installing sails from command line works. Both global installation ( `npm install -g sails` ) and local installation ( `npm install sails` ) are working as expected. I can provide the full log if needed.

[2015-04-15 21:19] mmahalwy commented on #52
So if the file is
`/app/package.json` what would I do?

[2015-05-18 12:46] SerjoPepper commented on #61
+1 on node.js version 0.12

[2015-05-20 23:06] jslusher opened #80 "npm install bower with '-g' option runs 'npm install -g'"
I'm trying to install the bower package using the -global switch in the resource. I have the following in my recipe:

[code]

I get this when I run the recipe:

[code]

[2015-05-21 07:42] BarthV commented on #80
"Missclic" from my phone.I didn't intend to close this request.
I'll check that

[2015-06-02 18:26] mattse commented on #61
Does anyone know a workaround for this?  I'm running into the same error, Chef 12.2.1, node.js 0.10.31, running on CentOS7.

[2015-06-02 19:19] guilhem commented on #61
Have you try to set checksum to`""`?

[2015-06-04 07:49] mburns commented on #80
You don't need to set the `-g` option to make it global. `nodejs_npm` will make a package global *by default* unless given a path to install to.

[code]

[2015-06-04 08:07] mburns commented on #52
[code]

@mmahalwy , if `json` is set to true, it will look for a `package.json` in directory you set as `path`. This will install the dependencies into `/app/node_modules/...`

[2015-06-05 18:59] kembs opened #85 "Setting the nodejs engine to iojs and install_method to 'source' does not change the prefix_url"
Hello,

I'm new to chef.. and I don't open many bugs bare with me....

my /cookbook/attributes/default.rb
default['nodejs']['engine'] = 'iojs'
default['nodejs']['version'] = '2.2.1'
default['nodejs']['source'] = { :checksum => '55e79cc4f4cde41f03c1e204d2af5ee4b6e4edcf14defc82e518436e939195fa' }
default['nodejs']['install_method'] = 'source'

Keeps creating this chef error:
[code]

Notice the sourc

[2015-06-05 21:21] BarthV commented on #85
I can reproduce this error.
Wondering why this attributes are not working as intended :
[code]

[2015-06-05 21:46] BarthV commented on #85
ok ...
It was an obvious mistake from us :space_invader: :
If you write this :
[code]
IF test always return false ;-) ... that's why ```prefix_url``` always point to nodejs website.

[2015-06-05 22:17] BarthV commented on #85
But it's not enough one way or another nodejs cookbook wipes all node['nodejs'] hash or it makes impossible to override engine value... I'm trying to found the root cause

[2015-06-05 22:41] BarthV commented on #80
+1
global install option is implicit

[2015-06-12 11:00] mburns opened #87 "mburns maintainer request"
Hi, I'd like to request becoming a maintainer of this cookbook to share the maintenance burden and help lower the response time for Issues and reviews on Pull Requests that come in from the community.

Is there a process for this in place(@guilhem)?

Cheers!

[2015-06-12 11:08] BarthV commented on #87
![spider-man-2-uncle-ben-cliff-robertson-great-power-quote](https://cloud.githubusercontent.com/assets/1901955/8128894/df36e680-1103-11e5-8835-60135538e9a9.png)

* Don't push into master (unless trivial and very simple hotfix)
* Use develop branch wherever it exists
* Ask for 1~2 :+1: before merge
* Use the force & appeal to common sense

Welcome !

[2015-06-12 11:34] mburns commented on #87
![chef's honor](http://upload.wikimedia.org/wikipedia/en/e/e7/The_Swedish_Chef.jpg)

I promise. :smile:

[2015-06-12 11:39] #87 closed

[2015-06-13 14:02] #85 closed

[2015-06-20 18:17] cnunciato commented on #61
@mattse Thanks for that workaround! Setting the checksum manually worked for me as well.

[2015-06-23 14:06] sommestad opened #90 "Still using bundled npm even though installing other version"
We're using the cookbook to install a specific Node version and a specific NPM version. However, it seems like the defined NPM version isn't used. Instead it uses the npm version bundled in the node package (which is `1.4.x`).

In our recipe:
[code]

After this, the symlink points to:
[code]
Which is an older version:
[code]

Is this expected behavior, or a potential bug?

Our current workaround i

[2015-06-24 09:49] Paul2e commented on #90
I also have this issue. Changing the symlink works only until the next time it is provision at which time it updates reverts back to the embedded version.

[2015-06-24 17:55] guilhem commented on #90
@sommestad can you gist a log of your first run?

[2015-07-01 21:26] ballerabdude opened #91 "Is node installed as root"
I'd rather install node under a user instead of root. Im looking at the code but I can't seem to see if the cookbook is installing node as a root user. If so I can create a pull request to install node/npm as a user.

[2015-07-01 23:34] guilhem commented on #91
Yes node or iojs is installed as root.... like any other program on a unix system. Up to you to run it as any user you want (hopefully not root ;) )

[2015-07-02 01:08] ballerabdude commented on #91
I'm an idiot. The life of a developer trying to do sys admin stuff. I was trying to use nvm but I guess just installing node would be the right way of doing this. How can I run node as a user? When I try to install a npm package globally it wants it in root. What am I doing wrong? If its in the documentation just let me know because I can't seem to find it. If I have to run a gulp task would I hav

[2015-07-02 01:34] ballerabdude commented on #91
Checkout this article. http://tnovelli.net/blog/blog.2011-08-27.node-npm-user-install.html

[2015-07-02 12:00] ballerabdude commented on #91
I figured it out.

[2015-07-02 12:00] #91 closed

[2015-07-07 18:49] #52 closed

[2015-09-13 13:12] erinnovations opened #99 "Please support nodejs 4.0"
https://github.com/nodesource/distributions

[2015-09-16 14:35] techjacker commented on #99
Any update on this? I'm having the same problem.

I tried installing from binary but no joy.

[2015-09-16 16:47] guilhem commented on #99
Hi,

Have you try to override `node['nodejs']['repo']` with correct path in your cookbook wrapper / environment / node?

If it's working we will see to update default value for all of us :)

[2015-09-21 11:33] techjacker commented on #99
That worked, thank you very much.

[code]

[2015-09-22 18:54] shurab commented on #61
It's a chef bug. See https://github.com/chef/chef/issues/2689

[2015-09-24 10:26] michaldudek commented on #99
Also had to update checksum:

[code]

[2015-10-09 13:54] ashokm commented on #49
Added in https://github.com/redguide/nodejs/pull/102 - Awaiting feedback from the maintainers.

[2015-10-15 17:24] rmoriz commented on #90
[code]

[2015-10-17 13:14] lucke84 commented on #61
It does not look like a Chef bug. I can use the checksum properly for other packages, for example Nginx (see output scrolling down).

Although, for nodejs it does not work; specifically, the recipe (my guess, indeed) seems to calulcate the checksum mistakenly.

Here's my role:
[code]

[code]

If you check http://nodejs.org/dist/v0.12.7/SHASUMS256.txt you can see the checksum for the version provid

[2015-10-17 21:36] BarthV commented on #61
I will proceed some additional checks to clarify this issue.

[2015-10-22 10:49] lucke84 commented on #61
Please ignore my previous comment, I had mistakenly configured the cookbook, so my chef recipe was trying to install the default nodejs package using the configuration of this cookbook.

[2015-10-25 11:32] cp5w opened #104 "Global installation of npm packages does not create executable in /usr/local/bin"
System: Amazon Linux 2015.09
Chef: 11.10.4 (AWS OpsWorks)

When running the following
[code]

As expected
* node 4.2.1 is installed and `which node` returns `/usr/local/bin/node`
* npm is installed and `which npm` returns `/usr/local/bin/npm`

Not as expected
* bower and gulp *are* installed, I can see them in `/usr/local/nodejs-binary-4.2.1/bin`, however there is no executable in any of the defau

[2015-10-25 14:57] BarthV commented on #104
Hi @cp5w ,

I'm afraid the best answer for this will be " It's not a bug, it's a feature "

`nodejs_npm` custom resource isn't (and will not) managing custom symlinks. It already has been discussed. This is the wrapper job to manage symlink to wherever you need it.

It's not possible to use ressource's `path` attribute because `npm install` creates a `node_modules` folder hierarchy and not only `b

[2015-10-25 15:09] cp5w commented on #104
@BarthV thanks for a prompt response, and yes I suspected this may be the case from the offset, hence not coming in guns blazing its a bug its a bug! Great explanation as to why this can't be resolved within the LWRP.

At the moment, this is my work-around
[code]
which is currently working flawlessly.

Obviously this is not an elegant solution or portable for the long term, so at some point I will

[2015-11-21 17:39] elliotlings commented on #99
Can someone advice me where I am going wrong please?

My Vagrantfile contains this:
[code]

but nodejs is version is still v0.10.40

[2015-11-22 08:29] sahilsk commented on #99
@elliotlings can you ellaborate more? Did you get any error on chef run or what?

[2015-11-25 03:43] ngtjah commented on #61
I ran into this today as soon as I tried to set the version to something different than the default. After setting the correct checksum I was able to install from source.

[code]

It would appear the checksum is statically set in the attributes file...

[2015-11-25 15:40] BarthV commented on #99
Can we close this one ?

[2015-11-25 15:41] #55 closed

[2015-11-25 15:41] #80 closed

[2015-11-25 15:42] #104 closed

[2015-11-25 15:58] BarthV commented on #90
Should be fixed by : https://github.com/redguide/nodejs/pull/105

Please reopen if needed

[2015-11-25 15:58] #90 closed

[2015-11-25 16:39] andre1810 commented on #44
I fixed it by setting `version: '*'`

[2015-11-26 10:32] BarthV commented on #78
[code]

`npm install sails` is 100% ok.

Please reopen if necessary.

[2015-11-26 10:32] #78 closed

[2015-12-10 08:37] gmccue opened #108 "Bump to version 2.4.3?"
After submitting #107 to add support for private repos, I'd like to use this cookbook from my berkshelf without specifying `master` branch. Do you think you could release a new version with the npm private repo support added?

[2015-12-10 11:21] #108 closed

[2015-12-17 21:46] gcoonrod opened #110 "Switching between previously installed versions of Node does not work."
When switching between previously installed versions of node this cookbook will not run the make install which does not update the current node binary.

[2015-12-18 10:54] cbrwizard opened #111 "Install a binary from a cached file option?"
Hey, is there an option to install a nodejs binary from an already downloaded file, not without downloading it each time from a remote url? It would definitely save time.

[2015-12-18 11:00] BarthV commented on #111
If I had to do this kind of thing, I'd use this kind or url :
``` file://my/local/file.tar.gz ```

```file://``` is a valid url and it's a local one :)

Can you test it ?

[2016-01-02 15:39] Schwersenz-OGOIO opened #113 "Problem with npm install from package.json"
I want to provision a VM using vagrant and chef-solo.

I have a `package.json` file in a folder `/var/www`.
When I do this in my recipe

[code]

I end up with this error:

[code]

When I add every dependency from my `package.json` individually to my recipe like this

[code]

and so on, everything works fine. Also, when I don't do any npm installing in my recipe at all, and just do it manually afte

[2016-01-08 11:13] adrianmoisey opened #115 "nodejs_npm not idempotent?"
I'm installing `sinopia` using https://github.com/BarthV/sinopia-cookbook/blob/master/recipes/sinopia.rb#L9-L12, but no matter what I do, the chef decides to install `sinopia` on each run, even though i'm specifying the version.

From what I can tell this should be idempotent. I can't seem to figure out what's wrong.

[2016-01-08 14:24] BarthV commented on #115
I've done some debug :
[code]

It seems that `url_valid?` is not working properly.
I'll see what's wrong here.

[2016-01-08 15:00] BarthV commented on #115
bug confirmed.
We're working on a fix (better way to detect and compare installed version)

[2016-01-12 21:25] raymatos commented on #99
Cant get source to compile on centos 6, anyone else having that issue?

[2016-01-12 22:33] PurrBiscuit commented on #99
@raymatos sort of, I'm on ubuntu 12.04...I can compile the default version of nodejs from this cookbook, 0.10.26, just fine but was having an issue when trying to compile version 4.2.4 of nodejs from source.  I ended up getting an error that looked like:

[code]

The problem seems to be the version of gcc being used...as of today installing the gcc package from apt-get will get you version 4.6.3 (

[2016-01-14 12:24] shaneog commented on #99
I can confirm that changing the repo URL works:
[code]

[2016-01-18 21:52] skewart commented on #115
I'm running into this bug too.   A fix would be hugely appreciated.

I'm happy to help out if you'd be open to a PR with a quick fix that just checks if the url is valid (though, to be honest, I'm not entirely sure how or why an invalid URL would get into this "resolved" field in the first place; so maybe there's more than just generic `url =~ URI::regexp` validity checking that the function is su

[2016-02-09 18:50] medyagh opened #116 "npm_source test suite fails in test kitchen for cent os 6.6"
When I try to converge npm_source test suite from kitchen.yaml (default kitchen comes with the cookbook except I use centos6.6)

here is the full error:

[code]

[2016-02-22 21:48] bdeitte commented on #99
The repo way works for me, except it automatically updates to the latest version.  Does anybody have a way to install Node 4 from a binary and a locked version?

[2016-02-25 07:09] sernapallyanurag opened #118 "nodejs_npm 'Zerorpc' do Installation fails"
Error executing action `install` on resource 'nodejs_npm[zerorpc]'
#     ============================================================================

[code]

   ules/msgpack

   make: Entering directory `/usr/local/lib/node_modules/zerorpc/node_modules/m
   sgpack/build'
      CC(target) Release/obj.target/libmsgpack/deps/msgpack/objectc.o
      CC(target) Release/obj.target/libmsgpack/deps/msgpa

[2016-03-08 14:16] kemra102 commented on #115
Curiously we see this problem when `chef-client` runs as a daemon but if you call `chef-client` at the CLI the issue does not occur.

Any update on when we can expect to see this fixed?

[2016-03-10 10:56] rmoriz opened #119 "npm symlink missing"
When node is installed using the binary method, it automatically creates a symlink `/usr/local/bin/npm` to the embedded npm.

However when using the `source` method to install npm, no symlink will be created and/or updated.

I'm not sure if this is caused by a change of the npm `Makefile` with recent versions or just an inconsistency of the cookbook.

[2016-03-10 14:30] rmoriz opened #120 "npm won't get re-installed after node update"
Given:

- node installed using binary method
- npm installed using source method

When:
- update node version
- leave npm version unchanged

Then
- embbed npm of node is used.

[2016-03-11 18:05] tas50 opened #122 "Update to the latest nodejs release"
This cookbooks is about 2 years behind on its defaults.

[2016-03-11 18:06] tas50 opened #123 "Do not require specifying the shasum when fetching source"
If no shasum is provided the cookbook should attempt to fetch the SHASUMS.txt file, parse that file, and determine the shasum automatically.  This would make it much easier to specify a version to install.  We're doing this in the tomcat cookbook right now and it's working nicely.

[2016-03-14 22:28] dbabst commented on #61
For binary installs need to override the attribute based on architecture:
[code]

[2016-03-15 11:40] eagleeye commented on #120
same for me

[2016-03-15 11:45] ebdrup commented on #120
we have this issue too

[2016-03-27 21:21] jonricaurte opened #125 "Anyone use https://github.com/poise/application_javascript?"
Saw that coderanger was sponsored to make chef scripts for nodejs by Chef Software and a few others. He also had a kickstarter campaign around this and was finished this fall. Was wondering if anyone could comment on the differences between that repo and this one? Seems like that repo is more updated and has more features, yet this one has more stars.

[2016-04-04 12:01] bubenshchykov commented on #120
+1

[2016-04-04 14:32] bubenshchykov commented on #119
+1

[2016-04-05 17:04] atrull opened #127 "binary install / checksum attributes documented aren't correct"
Dear nodejs cookbook devs..

following your documented attributes (the defaults) it turns out you've got a more complex, non-valid documented setup.

if you follow it with the example it indicates:

node.default['nodejs']['binary']['checksum']['linux_x64'] = '656d8bff06cc5e108b83176f81de7e1eb16392ae0958ec4a7bca2a3a309333a1'

resulting in..

Option checksum's value {"linux_x64"=>"656d8bff06cc5e108b

[2016-04-20 23:25] iiro commented on #125
Hi,

I'm considering the options here. Did you made your decision @jonricaurte ?

[2016-04-20 23:30] jonricaurte commented on #125
Yes, we are going to use application_javascript. It turns out opsworks uses it for the default chef12 cookbook for nodejs:

https://github.com/awslabs/opsworks-linux-demo-cookbook-nodejs

[2016-05-05 20:31] koertkuipers opened #128 "npm installs as root but uses ~/.npm of the current user"
after a "sudo chef-client" run that included some usage of nodejs_npm, my own hidden .npm folder contains subdirs owned by root, causing errors when i try to use npm myself.

on a virtual machine in kitchen after a chef run on ubuntu 14:

[code]

[2016-05-13 18:42] RShackleton commented on #113
+1 Also getting this error. Could it be due to installing a large number of dependencies?

[2016-05-18 01:55] rojomisin commented on #127
ran into this too today, the quick fix for me to install a binary from a specific url on centos
change `checksum` to `checksum["linux_#{arch}"]`

[code]

will debug more and send a pr later

[2016-05-19 12:07] sernapallyanurag opened #130 "Unable to install latest npm packages."
I am unable to install ``Zerorpc`` on centos 7.1.

``

gyp WARN EACCES user "root" does not have permission to access the dev dir "/roo
t/.node-gyp/0.10.42"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/lib/node_modul
es/zerorpc/node_modules/msgpack/.node-gyp"
make: Entering directory `/usr/lib/node_modules/zerorpc/node_modules/msgpack/build'
  CC(target) Release/obj.target/lib

[2016-05-23 06:28] sernapallyanurag commented on #130
Error due to Nodejs version dependency.
Fixed. Closing the issue.

[2016-05-23 06:28] #130 closed

[2016-06-16 14:44] japel commented on #99
I'm not able to build from source 4.4.2

Error executing action `install_with_make` on resource 'ark[nodejs-source]'
Chef::Exceptions::MultipleFailures
==> default:     make[1]: Leaving directory `/usr/local/nodejs-source-4.4.5/out'
==> default:     STDERR: g++: internal compiler error: Killed (program cc1plus)
==> default:     Please submit a full bug report,
==> default:     with preprocessed so

[2016-06-16 14:45] japel commented on #99
A way to install form binary would be awesome

[2016-06-24 15:07] mbizkit76 commented on #116
Same error trying to install `mongoose` package on a vagrant centOS box running chef-solo

[code]

[2016-06-29 11:15] japel commented on #113
This could be a problem related to having to little memory on the vm.
I had a similar problem. After I told vagrant to modify the vm to have 1gb of ram it worked...

[code]

[2016-07-01 09:29] swaroopsm opened #133 "Dependencies error on AWS OpsWorks"
I am using this cookbook and the default recipe to install NodeJS on AWS OpsWorks. But I get the following error:

[code]

[2016-07-23 05:09] #122 closed

[2016-08-03 01:42] mattdeboard commented on #133
I am assuming you are not using `yum` for package management.

The problem you describe happens because in the `metadata.json` file, it has several platform-specific dependencies specified. Chef does not allow conditional dependencies. If a recipe is included (e.g. `include_recipe yum_epel` or whatever) then the cookbook author needs to include it as a `depends` line in the metadata. It's a limita

[2016-08-10 17:33] stephenreid commented on #127
I read this as an example (you should check checksums against an authority and they would vary based off of OS/Version)

As an additional note, the version must be specific for the binary, you can't use typical rubygems version strings.

[2016-08-10 17:35] stephenreid commented on #123
I am using without a checksum, just version seems to fetch. I'm not sure that auto-fetching the checksum from the same domain at the same time adds any additional security (given nodejs.org hacked or dns poisoning.)

[2016-08-13 11:48] lioramilbaum opened #137 "package install - v0.10.46?"
I am working with on AWS - ubuntu 12.04 OS

including nodejs recipe install by default very old release of nodejs.

[2016-08-21 18:35] codemonkey84 opened #138 "No resource or method named `ark' for `Chef::Recipe "npm_from_source"'"
NoMethodError

No resource or method named ark' forChef::Recipe "npm_from_source"'

Cookbook Trace:

/var/lib/aws/opsworks/cache.stage2/cookbooks/nodejs/recipes/npm_from_source.rb:29:in `from_file'

[2016-09-09 15:13] munusamy commented on #137
Even i did try changing the version attributes and tried even via override attributes but still I see it's trying to install older version 0.10.xx

[2016-09-19 17:46] raymatos commented on #120
+1

[2016-09-20 10:08] wridgers opened #139 "Nodejs binary archive extension has changed"
The file extension has changed from `.tar.gz` to `.tar.xz`. I'm not currently able to install nodejs because the `gz` extension is hardcoded.

[2016-09-21 13:48] wridgers commented on #137
Try this:

[code]

[2016-10-04 10:32] eagleeye commented on #120
my hotfix for this:
[code]

[2016-10-06 08:59] hrak commented on #115
@kemra102 Also seeing this on manual runs (bower in my case)

[code]

[2016-10-19 09:59] rockaBe commented on #137
@lioramilbaum Did the answer provided by @wridgers help you fix it?
Can this be closed?

[2016-10-19 13:07] guilhem commented on #137
maybe we have to update default version... but it's another issue :)

[2016-10-19 15:33] lioramilbaum commented on #137
let me check it

[2016-10-25 13:23] ericgoedtel commented on #137
This problem is going to happen for anyone who is using the release posted up on Chef supermarket. The last formal release of this project was in December of 2015. The version of node served up by that release is 0.10.

You can use an attribute override as specified for this but the default version is *already* updated in the repository--the problem is that there is no new release that reflects th

[2016-10-31 19:30] sgtcoolguy commented on #115
Here's the commit which introduced the bug: https://github.com/redguide/nodejs/commit/2b1c055c01cc46ea8cf928464d09b74c5de065cf

Basically, before it would just check that the version matched, but that commit also has it checking that the "url" is valid for the package. I'm not sure why the check was added, but with npm 2.15.9 and 3.10.8 my output structure doesn't match what url_valid? is looking

[2016-11-02 17:23] tas50 commented on #139
Fixed in #143

[2016-11-02 17:25] tas50 commented on #99
Fixed in #143, but note that you need a modern distro with GCC 4.8+ in order to compile modern nodejs releases. They started using C++11 extensions.

[2016-11-02 17:25] tas50 commented on #61
The checksums are correct on master now.  Fixed in a release once #143 is merged

[2016-11-10 15:22] lioramilbaum commented on #137
Using 3.0.0 cookbook version still deploys release v0.10.46. I was hopping that updating the cookbook will suffice. I will try to add the variable
override['nodejs']['repo'] = 'https://deb.nodesource.com/node_6.x'

[2016-11-11 04:53] lioramilbaum commented on #137
Working when adding the variable.
Thanks

[2016-11-14 09:21] khiem-nguyen opened #145 "undefined method `new' for Ark:Module"
I see that ark 2.0.2 was installed but this error came out. Please help.

[code]

[2016-11-14 13:31] till commented on #45
@guilhem I just ran into this again, basically, each time someone tries to provision and the keyserver is down. I know I can override the server, but it seems like the more consistent fix is to distribute the key with the cookbook. Would you be open for a PR for that?

[2016-11-14 21:52] mike-es commented on #45
@till are you using VirtualBox? I was having the same problem with version 5.1.8.  I downgraded to 5.1.6 and I no longer see this.  Seems to be a bug in VirtualBox.

[2016-11-15 12:52] till commented on #45
@mike-es no, well, yes. I can consistently reproduce this on AWS and in VirtualBox. It happens whenever the ubuntu keyserver has connectivity issues. And I can reproduce these outside of VirtualBox and AWS when it happens.

The problem is the roundtrip for the key discovery. I wrote a cookbook for now that I include _before_ `nodejs::repo` is run so the `node.js` apt repository is already discover

[2016-11-18 16:12] chewi commented on #137
@lioramilbaum is right and I don't see the change that @ericgoedtel is referring to.

[2016-11-18 21:34] chris-fa commented on #137
Is there a fix of this but for Centos 6.7?

[2016-11-18 21:40] chewi commented on #137
Probably not, EPEL for 6 only seems to have 0.10.46.

[2016-11-18 21:43] chris-fa commented on #137
@chewi I tried adding the nodesource repo [documented in here](https://nodejs.org/en/download/package-manager/#enterprise-linux-and-fedora) but maybe I missed something?

`override['nodejs']['repo'] = 'https://rpm.nodesource.com/setup_6.x'`

`include_recipe 'nodejs'`

[2016-11-18 21:54] chewi commented on #137
I didn't realise there was an RPM equivalent. That would work except that the repo recipe is hardcoded to use EPEL. You could still use the [yum_repository resource](https://docs.chef.io/resource_yum_repository.html) yourself though before calling this cookbook.

[2016-11-18 22:16] chris-fa commented on #137
@chewi Got it, thanks man :)

[2016-11-20 17:57] chris-fa commented on #137
@chewi I'm a little bit lost, as I can't figure which URL is the repository and which one is the GPG key.

I read the whole installation script at https://rpm.nodesource.com/setup_6.x and searched for the word `rpm` in order to find the repo, until I arrived at `https://rpm.nodesource.com/pub_6.x/` but I'm not sure this is the actual repo.

[code]

Also, after setting the repo up, I can use this c

[2016-11-20 21:33] chewi commented on #137
I'm not sure but try setting this:

[code]

[2016-11-25 05:48] Pankaj-Pippin commented on #133
Hi,

What do u means by removed it from meta data can u show the code from where you removed it ?
I am using Amazon linux .

Metadata

  "dependencies": {
    **"yum-epel": ">= 0.0.0",**
    "build-essential": ">= 0.0.0",
    "ark": ">= 0.0.0",
    "apt": ">= 2.9.1",
    "homebrew": ">= 0.0.0"
  },

[2016-11-30 09:56] Pankaj-Pippin commented on #137
Hi All

I am newbie so i am unable to understand where to put or edit as you guys having conversation , I am totally lost it :(

@chris-fa : Can you share the final script with us ? I am having same issue.

@lioramilbaum : where you added this line , in which file and where can u share that file code ?

@chewi : Could you please help me too , You are very experienced then us :)

Thanks to All

[2016-11-30 12:11] lioraspark commented on #137
@Pankaj-Pippin
in my custom cookbook (the one who depends on nodejs cookbook)
attributes/default.rb:
_override['nodejs']['repo'] = 'https://deb.nodesource.com/node_6.x'_

[2016-11-30 13:18] chris-fa commented on #137
@Pankaj-Pippin This is what I did:

[code]

*Note:* I'm using CentOS 6, not Ubuntu, so my repo url is different

[2016-12-06 03:56] Pankaj-Pippin commented on #137
@lioraspark : Not work for me :( in amazon linux

@ chris-fa
Thank you very much Its working , I edited install.rb under recipes

`yum_repository 'rpm' do
    description 'RPM repo for NodeJS'
    baseurl 'https://rpm.nodesource.com/pub_6.x/el/6/x86_64/'
    gpgkey 'https://rpm.nodesource.com/pub/el/NODESOURCE-GPG-SIGNING-KEY-EL'
    action :create
end

package 'nodejs'

#include_recipe "nodejs::n

[2016-12-09 07:36] glennmate opened #148 "nodejs_npm WinRM timeout in test-kitchen on Windows"
I know this is a bit out of scope for what the cookbook supports, but figured I'd raise an issue to see if anyone has seen this behavior. I'm currently using a homegrown cookbook to install NPM for windows. Given that npm is available via a shellout, I should be able to use the nodejs_npm resource to install NPM packages (nothing contained within this LWRP is OS-specific).

Using test-kitchen, whe

[2016-12-11 19:28] glennmate commented on #148
Appears to be an issue with the way nodejs_npm is checking for packages on windows; it's obviously not supported in this cookbook. I'm going to be forking this and making some changes to accommodate windows for my specific use case (won't likely result in a PR fix as I'm going to break some logic that makes linux installation nonfunctional).

[2016-12-11 19:28] #148 closed

[2016-12-15 21:35] zonotope opened #150 "nodejs_from_binary recipe fails due to recent change in ark dependency"
## Cookbook version:
3.0.0

## Chef client version:
11.4

## Platform Details
Amazon Linux/OpsWorks

## Scenario
Recent versions of the `ark` cookbook [no longer includes `owner=` method](https://github.com/chef-cookbooks/ark/issues/181) for ark resources. This causes at least the `nodejs::nodejs_from_binary` recipe to fail with the following error:

[code]

## Possible solution
The `ark` dependen

[2016-12-31 23:19] teknofire opened #151 "npm is not available when using package install with Ubuntu 16.04"
With Ubuntu 16.04 it looks like `npm` is no longer installed with the `nodejs` package.  I had to add `npm` and `nodejs-legacy` to the package list with something the following code before I could converge

[code]

### metadata.rb

[code]

### receipe/default.rb

[code]

[2017-01-03 21:58] joestump commented on #128
Try running `sudo -s` or `sudo -i` when you run `chef-client`. This isn't an issue with this cookbook or even `npm`.

[2017-01-19 16:23] matt-wormley commented on #151
use node_6.x repo works for me on 16.04

[code]

[2017-01-21 02:26] rapcal commented on #151
@matt-wormley followed your work around and everything seems good :) Thanks!

[2017-01-21 03:11] teknofire commented on #151
Yup, that also works for me.  It looks like it was trying to install a really old version of nodejs with the default nodejs repo.

[2017-01-28 06:17] wesleung commented on #127
Bump on this issue as I no longer directly use the cookbook, instead copied and commented out the checksum.

[2017-02-06 16:21] Dreeg commented on #54
My problem is missing 'npm' soft link in /usr/local/bin and not just for root user.

[2017-02-06 16:25] Dreeg commented on #119
+1

[2017-02-08 16:49] kbaltrinic opened #152 "Can't Install Older Version 'From Source': File Not Found"
Trying to install node je v 0.10.26 using the nodejs_from_source recipe and it fails because older versions are only packaged using gzip (tar.gz) but newer ones appear to be packaged using both gzip and xz (LZMA?).

Long story short here is the stack trace:

[code]
Where if you go to https://nodejs.org/dist/v0.10.26 you will see that node-v0.10.26.tar.gz exists but not node-v0.10.26.tar.xz.

And t

[2017-02-09 00:23] wesleung opened #153 "nodejs_npm re-installs package on every chef run"
Adding the below seems to install that package on every chef run
[code]

Problem looks to be in function `npm_package_installed?` which calls `url_valid?`
This returns `list.fetch(package, {}).fetch('resolved', '').include?('url')`

`list.fetch(package, {}).fetch('resolved', '')` returns "https://registry.npmjs.org/async/-/async-2.1.4.tgz"

`list.fetch(package, {}).fetch('resolved', '').include?('

[2017-02-09 18:10] ketan opened #154 "Install node 6.x on EL via rpm.nodesource.com"
Currently nodejs is pulled from EPEL, and I was wondering if it'd be cool to pull from rpm.nodesource.com instead of EPEL.

I'm happy to submit a PR for this.

[2017-02-09 18:13] ketan opened #155 "Install yarn?"
... via an optional recipe `nodejs::yarn`

Is this something you'd rather see in a different cookbook?

[2017-02-10 06:04] saurabhkrjha commented on #152
facing the same issue when trying to install version 0.10.25. Trying to download nodejs.org/dist/v0.10.25/node-v0.10.25-linux-x64.tar.xz which does not exist on the server. was working fine till day before yesterday.

[2017-02-13 16:20] mmarod commented on #153
I'm having the exact same issue on the exact same OS/Chef versions. I put together PR #157 to resolve the issue in what seems to be a reasonable way for my environment.

[2017-02-16 18:47] tanner-bruce opened #158 "Ark does not support xz by default when using nodejs_from_binary"
If the xz binary is not pre-installed nodejs_from_binary will fail with the following output:

[code]

[2017-02-18 15:04] #37 closed

[2017-02-23 09:02] eagleeye commented on #155
you can install yarn with recipe npm_package, action :install

[2017-02-23 09:41] ketan commented on #155
From the yarn install docs https://yarnpkg.com/en/docs/install#alternatives-tab

[2017-02-23 09:45] eagleeye commented on #155
@ketan as for me it's better to create new cookbook, different from nodejs

[2017-04-07 18:54] nijotz opened #166 "uninitialized constant Chef::Mixin::HomebrewUser"
### Cookbook version
3.0.0

### Chef-client version
11.10.4

### Platform Details
Amazon Linux 2016.09

### Scenario:
Running a test chef recipe that touches a file

### Steps to Reproduce:
Include this cookbook in Berksfile

### Expected Result:
Touched file

### Actual Result:
[code]

[2017-04-07 19:38] tas50 commented on #166
You'll need to upgrade your Chef client to 12+ in order to use this cookbook. Chef 12 was released in Dec 2014 and included proper support for Homebrew.

[2017-04-07 19:38] #166 closed

[2017-04-19 19:34] DoctorOgg commented on #158
should be gz, not xz looks like a typo to me..

[2017-04-19 20:38] tanner-bruce commented on #158
xz is not a typo.

[2017-04-19 20:39] DoctorOgg commented on #158
your right, I did look back at newer releases, however I was installing a really old version, where there were no archives built using xz,

[2017-04-24 12:53] eric-tucker opened #167 "Amazon Linux - stop installing nodejs from epel?"
Any plans to do this?

http://stackoverflow.com/questions/27350634/how-to-yum-install-node-js-on-amazon-linux/35165401#35165401

Why aren't we using the nodejs repos to install nodejs on Amazon Linux?  Epel 6 is massively outdated and won't be getting updated.

[2017-04-28 06:01] tas50 commented on #154
I think we should probably switch away from EPEL and instead use the nodesource.com repos which we're currently using on debian/ubuntu. It would give modern versions on RHEL 6/Amazon and would line all the versions up across platforms.

[2017-04-28 06:01] tas50 commented on #151
https://github.com/redguide/nodejs/pull/164 fixes this by using the newer repo

[2017-04-28 06:03] tas50 commented on #150
Chef 11 is EOL and ark now requires Chef 12. If you want to stay on Chef 11 you'll need to manage version dependencies in your own wrapper cookbook or berkshelf config.

[2017-04-28 06:03] #150 closed

[2017-04-28 06:08] #125 closed

[2017-04-28 06:08] tas50 commented on #125
Closing this out since it's not really an issue

[2017-04-28 06:09] #151 closed

[2017-04-28 06:09] tas50 commented on #138
You'll need to upgrade your version of Chef to at least Chef 12 since ark requires that

[2017-04-28 06:09] #138 closed

[2017-04-28 06:11] tas50 commented on #133
This should be resolved in the latest version of the cookbook without the JSON. Feel free to open it up if you're still having the issue with that release

[2017-04-28 06:11] #133 closed

[2017-04-28 06:11] #99 closed

[2017-04-28 06:11] #61 closed

[2017-04-28 06:11] #139 closed

[2017-04-28 06:12] tas50 commented on #36
https://github.com/redguide/nodejs/pull/164 provides the initial suse support.

[2017-04-28 06:12] #36 closed

[2017-04-28 06:13] tas50 commented on #145
This usually happens if you're not using a modern Chef client. Try upgrading your client and pulling down the latest ark release. Open this back up if that doesn't resolve it.

[2017-04-28 06:13] #145 closed

[2017-04-28 06:15] tas50 commented on #137
So https://github.com/redguide/nodejs/pull/164 will get Debian/Ubuntu to 6.x installs by switching the repo to the correct directory. For RHEL/Amazon users I think the solution is to remove EPL and instead use the nodesource.com repo like we do on Ubuntu/Debian. It would give us a nice consistent version on all platforms and it would get RHEL up to date nodejs.

[2017-04-28 06:25] Pankaj-Pippin commented on #137
Hi Tim,

Thanks for update , However its nearly 5 month old , and now we understand that chef is still not that mature and customizable  as we thought , so we built our own way to automate things.

Also Could you please remove the AWS icon from supported list till a fixed is deployed , Its going to save lots of time for others.

Thanks to all member for time and support :)

[2017-04-28 20:58] tas50 commented on #167
https://github.com/redguide/nodejs/pull/169 resolves this

[2017-04-28 20:58] #167 closed

[2017-04-28 20:59] tas50 commented on #154
https://github.com/redguide/nodejs/pull/169 resolves this

[2017-04-28 20:59] #154 closed

[2017-04-28 21:00] tas50 commented on #152
The older versions didn't ship with .xz files. This is a pretty common problem with cookbooks that install from source since a lot of projects switched to xz and never backfilled their repos. I'm open to a PR that fails back to the older source in a graceful way.

[2017-04-28 21:06] tas50 commented on #158
What version of the ark cookbook are you running. 1.0+ should have xz support

[2017-04-28 21:07] tas50 commented on #137
https://github.com/redguide/nodejs/pull/169 switches RHEL / Amazon to nodesource.com and adds testing on Amazon linux.

[2017-04-28 21:07] #137 closed

[2017-04-29 00:01] tas50 commented on #158
I'm realizing the design of the ark cookbook is pretty lacking here and I'm going to tackle that there, but for now I'm switched back to .tar.gz here since all the nodejs releases are still showing as .tar.gz

[2017-04-29 00:01] #158 closed

[2017-04-29 03:00] tanner-bruce commented on #158
Thanks! I would agree the ark cookbook is lacking, it's functionality is non-obvious. We tend to use poise-archive for all things archive.

[2017-04-30 01:29] knightsamar commented on #152
Looks like you fixed this issue by always referencing to a .gz ? At least on the master branch.

[2017-04-30 02:30] #152 closed

[2017-04-30 02:30] tas50 commented on #152
Yep I switched back to .tar.gz for now

[2017-04-30 16:50] AlexeyDemidov opened #171 "Wrong package installed with default repo on Ubuntu 16.04 LTS"
When installing from packages on Ubuntu 16.04 LTS  with default repo we get `nodejs-4.2.6~dfsg-1ubuntu4.1` package from Ubuntu repo instead of deb.nodesource.com. The `apt-cache policy nodejs` output:

[code]

The fix is to set `node['nodejs']['repo'] = 'https://deb.nodesource.com/node_6.x'` (default repo is `https://deb.nodesource.com/node`)

[2017-05-16 07:34] jarrettj opened #172 "nodejs cookbook does not install npm on ubuntu"
### Cookbook version
[Version of the cookbook where you are encountering the issue]
3.0.0

### Chef-client version
[Version of chef-client in your environment]
Chef: 12.18.31

### Platform Details
[Operating system distribution and release version. Cloud provider if running in the cloud]
Ubuntu 16.04

### Scenario:
[What you are trying to achieve and you can't?]
Trying to install npm cli.

### Ste

[2017-05-24 20:28] jamescorkran opened #173 "Question: How to properly use to install npm modules?"
I have used this cookbook as recommended by the README file:

Within the role of the node:
--Under Default Attributes--
[code]
--Under Overriden Attributes--
[code]
--Under Run list--
[code]

My issue is, and I saw something about creating a "wrapper cookbook" to potentially solve this problem?  I can see that Chef installs nodejs, npm, and the packages.  However, my developers are telling me that

[2017-06-05 14:09] eric-tucker opened #174 "Amazon Linux - npm not installed via npm recipe"
### Cookbook version
Latest

### Chef-client version
12.5.1

### Platform Details
Amazon Linux

### Scenario:
Trying to install npm

### Steps to Reproduce:
include nodejs cookbook in run list

### Expected Result:
npm installs

### Actual Result:
Nothing happens

I suspect this is because the npm install method defaults to embedded and on rhel/fedora npm is not a package that is installed by defa

[2017-06-05 14:22] eric-tucker commented on #174
Please disregard.  I was using a forked copy and didn't realize it.  Doh!

[2017-06-05 14:22] #174 closed

[2017-06-05 14:29] eric-tucker opened #175 "Please push latest cookbook to supermarket"
Code in master is not in the latest supermarket cookbook version, 3.0.0

Please update supermarket ASAP.

[2017-06-07 15:07] eric-tucker commented on #172
I can attest this is happening for me too.

[2017-06-11 22:06] sljuka commented on #172
This is also happening on my server. Ubuntu 16.04 even with both nodejs::default and nodejs::npm included.
I remember having problems installing node on ubuntu when instaling it manually via apt-get. Node package is conflicting with an existing package on Ubuntu, so it gets screwed up. This issue might be related with this name conflict.
This post helped me resolve it manually:
https://stackoverfl

[2017-06-15 22:02] tb01923 opened #176 "npm_packages attribute not working nodejs 8"
### Cookbook version
2.4.4

### Chef-client version
12

### Platform Details
CentOS 6

### Scenario:
npm_package to install libraries fails

### Steps to Reproduce:
wrapped cookbook in role that has the following attributes:
[code]
### Expected Result:
The ramda library to install.  If I leave off the npm_packages everything installs fine

### Actual Result:
Error:

[code]
<snip>

[code]

[2017-06-16 05:11] #173 closed

[2017-06-19 15:40] mmarod commented on #176
Running into the same issue while trying to install `forever` with cookbook version 2.4.4 and node 8.1.2. In the trace it shows that Chef is attempting to run `npm install  -global forever` which is breaking in the same manner as the OP's run. Interestingly, running that command manually results in a successful install of `forever`.

[2017-06-19 16:32] mmarod commented on #176
Did some digging and discovered that the problem is likely in the `npm list -global -json` command and not in the `npm install -global` one. The list command is dying at byte 65536 but *only* when I pipe it to another program like `less`. If I redirect the output to a file or let it spit out to stdout it completes successfully. For instance, the output of this truncates...

[code]

Whereas the out

[2017-06-23 15:28] raushan9108 opened #178 "nodejs is getting installed but not accessible from home or other location"
### Cookbook version
version '3.0.1'

### Chef-client version
12.11

### Platform Details
AWS EC2 instances
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.5 LTS
Release:	14.04

### Scenario:
I am simply installing nodejs using cookbook from a custom location. node js is getting installed on /usr/local/nodejs-binary-7.9.0/bin/ but it is not loaded as a environment varriable. i am able to access n

[2017-06-29 08:45] pandamako commented on #178
Hi.
You should to add `/usr/local/nodejs-binary-7.9.0/bin/` to PATH env.
`export PATH=/usr/local/nodejs-binary-7.9.0/bin:$PATH`.

[2017-06-29 17:46] raushan9108 commented on #178
Hi pandamako,

Thank you for replying, I thought that environment things handled in the cookbook and it is not working for me.

[2017-06-29 20:35] pandamako commented on #178
I built cookbook https://github.com/rentmania/nodejs-cookbook and after cook i have `node -v`accessible from all users.

[2017-07-14 00:26] sandyfox commented on #172
+1

[2017-07-14 02:29] tas50 commented on #175
Done!

[2017-07-14 02:29] #175 closed

[2017-07-24 21:46] dmigous commented on #35
same on debian jessie

it creates source list:

[code]

That results in error:
[code]

and fixing to `deb      "https://deb.nodesource.com/node_6.x" jessie main` make work.

So how to use nodejs cookbook to make it work properly?

[2017-08-01 19:44] rlafferty opened #183 "nodejs_npm resource not idempotent"
### Cookbook version
4.0.0

### Chef-client version
Chef: 13.2.20

### Platform Details
Ubuntu-12.04

### Scenario:
[code]
This will run every time.  Its failing the `url_valid?` method call in the [nodejs helpers library](https://github.com/redguide/nodejs/blob/master/libraries/nodejs_helper.rb#L28)

### Steps to Reproduce:
Install node from binary version `4.4.5`

[code]

run converge twice (wil

[2017-08-10 10:58] taliesins commented on #49
Added #184 - Awaiting maintainers to look at pull request

[2017-08-17 03:11] stevenoneill commented on #183
Diito with chef client 12.21 on RHEL 7.2.  Same scenario

[2017-08-23 11:23] jamescorkran commented on #172
+1

[2017-08-23 17:20] aspyatkin commented on #155
@ketan I have written [this cookbook](https://github.com/aspyatkin/yarn-cookbook) for my projects, you can make use of it in order to install Yarn.

[2017-09-08 15:15] daften opened #185 "Install on centos 7.3 fails due to package removed from yum-epel"
### Cookbook version
Irrelevant

### Chef-client version
Irrelevant

### Platform Details
Centos 7.3 bento box vagrant

### Scenario:
Install nodejs

### Steps to Reproduce:
Just issue the nodejs recipe on a centos 7.3 (blank system)

### Expected Result:
Nodejs installed

### Actual Result:
An error due to a missing dependency. A dependency for nodejs was removed from yum-epel because it is being

[2017-09-08 20:32] tas50 commented on #185
I appreciate this note, but unfortunately there's nothing we can do here. Redhat really screwed this up and we're going to have to wait for the fallout to settle once CentOS 7.4 goes out. Anyone reading this can certainly pull in the continuous release repo above, but that's not something we'd want to enable for all users.

[2017-09-08 20:32] #185 closed

[2017-09-08 23:20] daften commented on #185
How about adding it in documentation, in the README for other users? Is that an option :)

[2017-09-26 21:45] daften commented on #183
Is a duplicate of #115 it seems ...

[2017-10-05 19:07] rickmax opened #186 "Aws opsworks chef 12 does not read this recipe"
### Cookbook version
Chef 12.13.37

### Chef-client version
chef-client version: 13.2.20

### Platform Details
Ubuntu 16.04

### Scenario:
I'm trying to do a deploy on aws ec2 with opsworks chef 12
but im getting an assets error

### Steps to Reproduce:
My metada.rb
[code]

    supports 'amazon', '>= 2017.03'
    supports 'ubuntu', '>= 16.04'

My setup.rb

[code]

### Expected Result:
`[2017-10-05

[2017-10-06 15:42] #186 closed

[2017-10-20 20:51] markitosgv opened #188 "Error installing npm packages with node 8.5"
### Cookbook version
master or 4.0, I'm tring with master branch but PR #177 seems not work

### Chef-client version
12

### Platform Details
Centos 6.9

### Scenario:
Installing/updating npm packages with node 8.5

### Steps to Reproduce:
Povisioning a vagrant machine with:

[code]

### Expected Result:
install ok

### Actual Result:
Error executing action `run` on resource 'execute[install NPM p

[2017-10-25 13:00] jamime opened #189 "Install does not wait for apt-get update to complete"
### Cookbook version
4.0.0

### Chef-client version
13.4.19

### Platform Details
Ubuntu 16.04

### Scenario:
I'm trying to install the latest nodejs but the install occurs without the apt cache being updated with the new source.

[code]

### Steps to Reproduce:
`include_recipe 'nodejs'`

### Expected Result:
I expect the apt_update to finish and `$ sudo apt-cache policy nodejs` to return the foll

[2017-11-15 17:05] #183 closed

[2017-11-15 17:05] #115 closed

[2017-11-15 17:05] #153 closed

[2017-11-15 17:05] tas50 commented on #153
New release will fix this

[2017-11-15 17:05] tas50 commented on #115
New release will fix this

[2017-11-15 17:05] tas50 commented on #183
New release will fix this

[2017-11-15 18:33] #176 closed

[2017-11-15 18:33] tas50 commented on #176
Closing this out since it looks like we fixed it with the change to limit the results returned

[2017-12-05 16:55] chris-fa commented on #178
Is this a legit fix? I was digging around and there's an actual reason root doesn't have `/usr/local/bin` on root's `$PATH` on some distros

[2018-05-09 22:04] espoelstra commented on #171
An easy way to correct this is to specify a major version in the attributes/default.rb like `default['nodejs']['version'] = '6'` which will get interpolated into the URL and allow installing the intended version of NodeJS.

[2018-05-09 22:11] espoelstra commented on #172
Those having this issue, are you setting `default['nodejs']['version'] = '6'` or something similar in your `attributes/default.rb` of your wrapper cookbook?

[2018-05-16 00:39] rohityadav225 opened #192 "checksum value is ignored when binary download url is not set"
### Cookbook version
5.0.0

### Chef-client version
13.6.4

### Platform Details
Centos 7.4

### Scenario:
I noticed that if you don't set the ```default['nodejs']['binary']['url']``` attribute value then the checksum value is ignored.

### Steps to Reproduce:
use the following attributes and values -
[code]

### Expected Result:
Notice that i did not set ```node['nodejs']['binary']['checksum']['l

[2018-08-30 08:07] nomi-ramzan commented on #104
Hi @teaforchris what about this script ?
[code]

[2019-01-19 08:31] ghost opened #198 "i am install nodejs 8.11.4 but it shows v6.16.0"
### Cookbook version
[Version of the cookbook where you are encountering the issue]

### Chef-client version
[Version of chef-client in your environment]

### Platform Details
[Operating system distribution and release version. Cloud provider if running in the cloud]

### Scenario:
[What you are trying to achieve and you can't?]

### Steps to Reproduce:
[If you are filing an issue what are the thi

[2019-01-19 08:32] nareshabbanapuri commented on #198
in attribute
node.default['nodejs']['install_method'] = 'binary'
node.default['nodejs']['version'] = '8.11.4'
when i run nodejs --version the result is v6.16.0
how it comes and what's solution for this

[2019-01-19 09:38] nareshabbanapuri commented on #198
error getting like this
 FATAL: Chef::Exceptions::MultipleFailures: Multiple failures occurred:
       * Chef::Exceptions::ChecksumMismatch occurred in chef run: remote_file[/tmp/kitchen/cache/nodejs-binary-8.11.0.tar.gz] (/tmp/kitchen/cache/cookbooks/ark/resources/default.rb line 62) had an error: Chef::Exceptions::ChecksumMismatch: Checksum on resource (3df19b) does not match checksum on content

[2019-01-19 09:54] nareshabbanapuri commented on #198
kk done

[2019-05-17 22:47] Poohblah opened #201 "cookbook does not install requested version if package & repo for a different version already present"
### Cookbook version
6.0.0

### Chef-client version
14.2.0

### Platform Details
RHEL 7

### Scenario:
If a system already has a node.js repository and nodejs package installed that are different from the version specified in the `node['nodejs']['version']` attribute, then the nodejs cookbook will not update the package or repository to the requested version.

### Steps to Reproduce:
`recipes/defa

[2019-07-11 14:32] stephanvierkant commented on #172
Same problem here, Ubuntu 18.10. Just with default config, not a single option changes. It installes nodejs, but doesn't install npm.

[2019-09-09 00:04] inopinatus opened #203 "Release request"
Can I request a release bump to the supermarket? Prefer that to using a git source.

[2019-09-16 21:36] sufius commented on #104
You could use the "system::profile" cookbook/recipe to manually add the node bin path to the your global path:
[code]

[2019-09-29 16:22] kategray commented on #172
Can confirm that this issue persists with Chef 12 on Ubuntu 18.10. (Opsworks)

[2020-01-30 13:37] Dragsbaek commented on #201
@Poohblah did you find a fix for this? Im having same issue

[2020-01-30 17:09] Poohblah commented on #201
No, I haven't really been looking for a fix.  The nodejs cookbook is one of my least-used cookbooks, so this is very low-priority for me personally.  IIRC I just manually removed the package & repo and re-ran chef when I ran into this issue.

[2020-02-08 00:36] iennae commented on #203
I'm checking to see whether I can get privs on Supermarket. Thanks for this issue.

[2020-05-04 14:37] gravyflex opened #204 "npm package failed to install with error Errno::ENOENT No such file or directory - npm"
### Cookbook version
nodejs 2.4.4 (I have the issue with v6.0.0 as well)

### Chef-client version
chef-client 14.14.29

### Platform Details
"cat /etc/centos-release"
       CentOS Linux release 7.7.1908 (Core)

### Scenario:
The wrapper cookbook installs the pm2 npm package with the nodejs_npm (npm_package on newer versions of the cookbook) resource.

If I log into the test-kitchen vagrant VM, I

[2020-06-04 11:11] edgarasg commented on #203
Any news?

[2020-06-18 01:35] iennae commented on #203
Apologies, I did get the privs but it took me a while and missed coming back to this. It looks like it's been updated on supermarket now though!

[2020-06-18 01:35] #203 closed

[2020-07-23 15:26] Daz762 opened #206 "npm_package NoMethodError"
### Cookbook version
6.0.0

### Chef-client version
16.2.73

### Platform Details
Mac OS 10.14

### Scenario:
When the cookbook compiles I get the following NoMethodError:

undefined method `npm_package' for cookbook: nodejs, recipe: npm_packages :Chef::Recipe

### Steps to Reproduce:
Added nodejs cookbook as dependency in metadata.rb:

depends 'nodejs'

added include_recipe 'nodejs' to default.rb

[2020-08-17 16:11] raghukumarc commented on #204
-node.default['nodejs']['install_method'] = 'binary'
-include_recipe "nodejs::npm"
+node.default['nodejs']['install_method'] = 'package'
+include_recipe "nodejs"
+

Changing the installation method to package helped me overcome the above error.

[2020-09-06 22:27] pmandha23 opened #207 "yum https repository error [Errno 14] curl#35 "TCP connection reset by peer""
### Cookbook version
version '7.0.1'

### Chef-client version
Chef: 13.12.14

### Platform Details
CentOS Linux release 7.8.2003 (Core)

### Scenario:
RunningChef-Client

### Steps to Reproduce:
First Chef-client Run

### Expected Result:
Need to configure and install NodeJs Package on CentOS

### Actual Result:
execute[yum-makecache-node.js] (/opt/chef/embedded/lib/ruby/gems/2.4.0/gems/chef-13.12

[2020-09-24 23:58] codayblue commented on #204
When testing this issue my self it appears it is only affecting binary installs on kitchen vagrant centos 6,7, and 8. I ran a recipe against one of my centos 7 nodes and it runs just fine and installed the npm package. Ran it in dokken and again fine. 🤔  I will try to dive in more this weekend (might be next weekend just finishing a move).

This issue has popped up for me as well and why I am divi

[2020-09-25 22:43] codayblue commented on #204
I took a look threw some PRs and when I tested it locally PR #117 fixed this issue.

[2020-09-29 13:42] MarkGibbons commented on #111
Assuming this means a file already on the node.

[2020-09-30 00:47] MarkGibbons opened #217 "Add the source and npm-source suites to the ci/cd builds."
### :speaking_head: Foreword

Thank for taking the time to fill this feature request fully. Without it we may not be able to , and the issue may be closed without resolution.

## :person_frowning: Problem Statement

The "source" suite was not implemented as part of the ci/cd pipeline.  There were errors using ssl certificates to download the source from https://nodejs.org/dist/v10.16.3/node-v10.16

[2020-09-30 00:49] MarkGibbons opened #218 "Add platforms centos7, opensuse and fedora to the ci/cd pipeline."
### :speaking_head: Foreword

Thank for taking the time to fill this feature request fully. Without it we may not be able to , and the issue may be closed without resolution.

## :person_frowning: Problem Statement

The builds for centos7, opensuse and fedora dokken images failed.  Fix them and get them added back to the ci/cd builds and tests.

## :grey_question: Possible Solution

A clear and co

[2020-09-30 03:12] MarkGibbons commented on #217
Also add npm-source.

[2020-09-30 04:00] MarkGibbons opened #219 "Needs tests for the npm_package resource"
### :speaking_head: Foreword

Thank for taking the time to fill this feature request fully. Without it we may not be able to , and the issue may be closed without resolution.

## :person_frowning: Problem Statement

There are no tests for the npm_package resource.  These tests should be added before doing development of the resource.

## :grey_question: Possible Solution

A clear and concise descr

[2020-09-30 19:52] #204 closed

[2020-10-01 21:01] jeffbyrnes commented on #188
Node v8 is no longer maintained, closing this out.

[2020-10-01 21:01] #188 closed

[2020-10-01 21:09] MarkGibbons commented on #206
thanks for the report of the problem.
This issue should be fixed in version 7.0.1 of nodejs.  Newer versions of check required changes to the custom resources. The provides statement was added.

[2020-10-01 21:09] #206 closed

[2020-10-01 21:15] MarkGibbons commented on #119
The tests for the source install are chancy too.  Those tests should be repaired as part of fixing this issue.

[2020-10-01 21:18] MarkGibbons commented on #50
Needs a review to determine if this report is still an issue. Also review the suggest fix.  A fix may already have been merged.

[2020-10-01 21:20] MarkGibbons commented on #116
We could add a test case for this install and see if the problem still exists.  Centos 6 is on the way out. See if this issue exists in other OS versions.

[2020-10-01 23:58] MarkGibbons commented on #2
If this didn't get done in 6 years it's probably not going to get done.  I think we'll deal with the nodejs cookbook and steal from application_nodejs as appropriate.

[2020-10-01 23:58] #2 closed

[2020-10-02 18:13] MarkGibbons commented on #155
A separate yarn installation and yarn_package would be interesting features.

[2020-10-02 18:23] MarkGibbons commented on #172
Checking to see if this is still an issue.
Make sure the tests verify installation of nodejs and npm.

[2020-10-02 18:30] MarkGibbons opened #221 "These test suites do have any integration tests npm: npm_embedded: npm_packages: npm_source:"
### :speaking_head: Foreword

Thank for taking the time to fill this feature request fully. Without it we may not be able to , and the issue may be closed without resolution.

## :person_frowning: Problem Statement

We have test suites that do not test the results.  Adding tests should increase the valid of running the tests and help resolve issues.

## :grey_question: Possible Solution

Add tests

[2020-10-02 18:34] MarkGibbons commented on #219
Added some tests for npm_package installs in #220

[2020-10-02 18:34] #219 closed

[2020-10-02 18:37] MarkGibbons commented on #201
Consistent with other reports about upgrades of packages.  There are at least 3 related issues.

[2020-10-02 18:41] MarkGibbons commented on #128
Closing based on agreement with the recommendation from @joestump.

[2020-10-02 18:41] #128 closed

[2020-10-02 18:45] MarkGibbons commented on #118
Triage effort:

- See if we can reproduce
- this looks like a package problem or npm problem. If so close this issue.

[2020-10-03 19:02] MarkGibbons commented on #41
Given the age of the PR I'm going to close this. I also don't see anything clear enough to implement.
@rhass-r7  thanks for the ideas.

[2020-10-03 19:02] #41 closed

[2020-10-03 19:04] MarkGibbons commented on #49
#200 and #184 add windows support.  Will take a look.

[2020-10-03 19:04] #49 closed

[2020-10-03 19:05] MarkGibbons commented on #111
Marking as low priority unless someone speaks up.

[2020-10-03 19:10] MarkGibbons commented on #116
The build works in centos8 and ubuntu. Closing due to the support status of centos 6.

[2020-10-03 19:10] #116 closed

[2020-10-03 19:21] MarkGibbons commented on #171
Adding default repository as this cookbook does in the repo recipe seems to cause this issue.  I believe the cookbook is working as designed ( the design may be bad but that's a separate issue.)

[2020-10-03 19:35] MarkGibbons commented on #118
Installing zerorpc using the command line and  "npm install zerorpc" fails.  It's not an issue with the cookbook.

[2020-10-03 19:35] #118 closed

[2020-10-03 19:42] MarkGibbons commented on #172
I can't reproduce this error.  Given the age of the report and the old chef-client version I'm going to close the issue.

[2020-10-03 19:42] #172 closed

[2020-10-03 19:56] MarkGibbons commented on #127
The checksum use needs a lot of work.

[2020-10-03 19:58] MarkGibbons commented on #120
Part of a whole set of upgrade issues.

[2020-10-03 20:05] MarkGibbons commented on #110
Part a set of node update issues

[2020-10-03 20:07] MarkGibbons commented on #39
There's some tough issue around idempotence and repeated runs.

[2020-10-03 20:08] MarkGibbons commented on #207
I can't reproduce this error.

[2020-10-03 20:08] #207 closed

[2020-10-03 20:12] MarkGibbons commented on #198
This looks like 3 different bug reports and the details are really unclear.  Check to see if any of the issues can be reproduced.

[2020-10-03 20:15] MarkGibbons commented on #189
Need to try to reproduce the error.

[2020-10-03 20:18] MarkGibbons commented on #178
This cook book should not update environment variables for the system profile.   I think the cookbook is working as designed in this area.

[2020-10-03 20:18] #178 closed

[2020-10-12 01:43] MarkGibbons commented on #221
We have suites for the suites we care about now.

[2020-10-12 01:43] #221 closed

[2020-10-12 01:44] MarkGibbons commented on #217
Source is being tested now.  We don't really need npm-source.

[2020-10-12 01:44] #217 closed

[2020-10-12 01:46] MarkGibbons commented on #44
The auto_update option in the npm_package resource fixes this issue in its tests. #225

[2020-10-12 01:46] #44 closed

[2020-10-13 02:42] MarkGibbons commented on #50
Adding user to the command without setting the path gets an error complaining about root owned files in the cache.  I'm not able to reproduce an issue in a meaningful way. Closing due to age and lack of a way to reproduce.
@jfbibeau thank you for the report.

[2020-10-13 02:42] #50 closed

[2020-10-13 02:46] MarkGibbons commented on #110
I'll take this report to mean.

1. installed node using source version A
2. installed node using source version B B>A
3. installed node using source version A - Version A does not get installed. something is wrong with the node binary at this point

I'll see if I can reproduce this situation and define the error.

[2020-10-18 01:54] MarkGibbons commented on #119
Added test for /usr/local/bin/npm and /usr/local/bin/npx.  Initial testing of #222 shows those files exist.

[2020-10-18 03:32] MarkGibbons commented on #218
Notes about centos 7, it fails to build from source.
It looks like this is due to the fact that the default compiler on EL7 isn't new enough to compile it correctly as noted here: nxhack/openwrt-node-packages#470

A possible workaround would be to use the devtoolkit package from SCL, but that's probably better done in a separate PR using the yum-centos cookbook to enable the repository.

[2020-10-18 03:39] MarkGibbons commented on #119
The #222 shows the files are installed and available in /usr/local/bin during a source build

[2020-10-18 03:39] #119 closed

[2020-10-18 06:22] MarkGibbons commented on #113
When I have enough memory and disk space installing using package.json works. I'm going to recommend the previous solution and close this issue.

[2020-10-18 06:22] #113 closed

[2020-10-20 09:21] zhmurko commented on #218
hi @MarkGibbons
i would like to prepare a PR for this issue. Please assign it to me

[2020-10-20 13:49] MarkGibbons commented on #218
You've got it.   Centos 7 runs everything except source installs at this point.  Good luck.

[2020-10-21 03:33] MarkGibbons commented on #201
This is a very nice report. It's almost the same issue as #110.  I'm working on a solution for #110 that I suspect will fix this issue.

[2020-10-26 21:10] #218 closed

[2020-10-27 20:52] MarkGibbons opened #232 "npm source install needs running tests"
### :speaking_head: Foreword

Thank for taking the time to fill this feature request fully. Without it we may not be able to , and the issue may be closed without resolution.

## :person_frowning: Problem Statement

The tests to verify the npm source install are not being run in the pipeline.  Possibly just an oversight.  The npm_source suite probably tests the install.

## :grey_question: Possibl

[2020-11-14 15:59] thirumoorthir commented on #189
Hi i used this cookbook to converge ubuntu-1604  with chef version 16.6.14 and i get below result,
`agrant@default-ubuntu-1604:~$ sudo apt-cache policy nodejs
nodejs:
  Installed: 10.23.0-1nodesource1
  Candidate: 10.23.0-1nodesource1
  Version table:
 *** 10.23.0-1nodesource1 500
        500 https://deb.nodesource.com/node_10.x xenial/main amd64 Packages
        100 /var/lib/dpkg/status
     4.2.

[2020-11-16 20:03] #189 closed

[2020-12-09 05:19] Brantone commented on #201
From tracing the code, it doesn't look like version is really taken into account much at all, is it?

[2020-12-09 05:36] MarkGibbons commented on #201
Correct.

[2020-12-19 02:42] Brantone commented on #204
Fwiw ... similar issue when using "package" on macOS (ex: via `brew`). Crux of it is that the help just blindly calls `npm` hoping that it's in the environment path. The hiccup happens because `/usr/local/bin` is not in non-interactive shell.

[2020-12-19 05:32] MarkGibbons commented on #204
Thank you for the comments.

[2021-02-19 14:00] axl89 commented on #192
I've found a similar issue today in version `7.3.1` and Chef client `15.15.1` on an Ubuntu 18.04 box with the following:

## attributes.rb

[code]

## recipe.rb

[code]

The output being:

[code]

[2021-02-19 14:03] axl89 commented on #192
Ironically, if you destroy the kitchen suite, and then **remove** this line from the attributes:

[code]

and run converge again, the recipe crashes and shows a checksum mismatch error:

[code]

[2021-09-14 09:03] #198 closed

[2021-11-23 14:15] citrix-ericgo commented on #110
Any update on this?

[2022-06-07 01:23] Brantone opened #245 "NPM CLI is deprecating -global"
### :speaking_head: Foreword

Debated on this being "Feature request" or "Bug"

NPM has been talking about deprecating `-global` - this cookbook needs to account for that.

## 😦  Problem Statement

Recent releases of NPM CLI have fulfilled the deprecation - causing helper to fail since it prints the deprecation warning to stderr https://github.com/sous-chefs/nodejs/blob/main/libraries/nodejs_helpe

[2022-06-08 06:47] Brantone commented on #245
Another option is to pass `environment` along so the `npm list` can better/properly mimic what `npm install` will eventually do.

[2022-06-08 06:55] Brantone opened #247 "Upgraded NPM causes problems with npm install"
### :speaking_head: Foreword

This is related to https://github.com/sous-chefs/nodejs/issues/245 , but adding bug Issue for visibility for others who might encounter it.

## :ghost: Brief Description

With a recent version of NPM and it's push for deprecating `-global`, unfortunately it can cause problems  when installing packages, because the warning still spits out, thus causing problems with ex

[2022-06-08 06:59] Brantone commented on #247
Possible options :
* incorporate this PR: https://github.com/sous-chefs/nodejs/pull/246
* downgrade to NPM version (reports saying 7.x is fine, but lower 8.x < 8.11 might be ok as well)